 <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
   
      <div formArrayName="moviequestion" *ngFor="let creds of userForm.get('moviequestion').controls; let i = index"><br> 
      <div [formGroupName]="i">
        {{i}}     
      
          <div formGroupName="question">
            <input type="text" formControlName="title">
            <div formArrayName="answers" *ngFor="let item of creds.get('question').get('answers').controls;let j=index">
              {{j}}
              {{ (item.key) }}
              
              <div [formGroupName]="j">
                  <input type="radio" [formControlName]="item.get('key').value">{{item.get('key').value}}
              </div>
              
            </div>
          </div>
           
          
        </div>
         
      </div>
                     
                       


    
  
</form> 
{{this.userForm.value|json}} 